*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav
{
    background-color: DodgerBlue;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.p
{
    color: #282c34;
    font-size: 20px;
    font-weight: 700;
}

.lista
{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link
{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-weight: 700;
    font-family: Sans-Serif;
    text-align: center;
}

.link:hover
{
    color: #282c34;
}
