*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav
{
    background-color: DodgerBlue;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

ul
{
    margin: 0;
}

.p
{
    color: #282c34;
    font-size: 20px;
    font-weight: 700;
}

.lista
{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link
{
    /* color: white; */
    text-decoration: none;
    padding: 15px;
    font-weight: 700;
    font-family: Sans-Serif;
    text-align: center;
}

.link:hover
{
    color: #282c34;
}

.ingresa
{
    color: white;
    background-color: #052c65;
    border-radius: 10px;
    width: 100px;
    text-decoration: none;
    padding: 5px;
    font-weight: 700;
    font-family: Sans-Serif;
    text-align: center;
}

.cerrar
{
    color: white;
    background-color: #052c65;
    border-radius: 10px;
    width: 150px;
    text-decoration: none;
    padding: 5px;
    font-weight: 700;
    font-family: Sans-Serif;
    text-align: center;
}

.logo
{
    width: 25px;
    height: 25px;
}