.div
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}

.p
{
    color: #282c34;
    font-size: 20px;
    font-weight: 700;
}

.lista
{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.li
{
    margin: 15px 0;
    border: 5px solid dodgerblue;
    padding: 10px;
    border-radius: 10px;
}

.link
{
    color: white;
    background-color: DodgerBlue;
    text-decoration: none;
    border-radius: 7px;
    padding: 12px;
    font-weight: 700;
    font-family: Sans-Serif;
    text-align: center;
}

.link:hover
{
    color: #282c34;
}

.agregar
{
    color: white;
    background-color: #5c56af;
    text-decoration: none;
    margin: 0 12px;
    padding: 12px;
    font-weight: 700;
    font-family: Sans-Serif;
    text-align: center;
}

.eliminar
{
    color: white;
    background-color: red;
    text-decoration: none;
    margin: 0 12px;
    padding: 12px;
    font-weight: 700;
    font-family: Sans-Serif;
    text-align: center;
}

.h2
{
    text-align: center;
    margin: 10px 0;
    color: red;
}

.width
{
    width: 10rem !important;
}

.login
{
    color: white;
    background-color: #052c65;
    border-radius: 10px;
    width: 350px;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    font-family: Sans-Serif;
    text-align: center;
}

.vacio
{
    width: 100px;
    height: 100px;
    color: grey;
    margin-bottom: 40px;
}
